@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 1000px;
}

.logo{
    
}

#menu{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    list-style: none;
    margin-top: 20px;
}

#menu a{
    text-decoration: none;
    padding: 10px;
    color: black;
}